*{
    margin: 0;
}

.container::after{
    content: '';
    display: table;
    clear: both;
}

.container{
    width: 70%;
    height: 100%;
    margin: auto;

}

header{
    height: auto;
}

.header-top{
    background-color: #f5f8fa;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navigator{
    width: 100%;
    padding: 0px;
    margin: auto;
}

.dropdown{
    position: relative;
    display: inline-block;
    font-family: sans-serif;
    font-size: 17px;
    color: #33475b;
}

.dropdown-content{
    display: none;
    position: absolute;
}

a.language{
    height: 30px;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 17px;
    color: #33475b;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 30px;
}


a.language:hover{
    background-color: #f5f8fa;
}

.dropdown:hover .dropdown-content{
    display: block;
    border: 1px solid #33475b;
    background-color: white;
}
a{
    font-size: 15px;
    font-family: sans-serif;
    text-decoration: none;
    line-height: 80px;
}
a.contact-sales{
    color: #33475b;
    font-size: 17px;
    margin-left: 30px;
}

ul.nav-right{
    float: right;
    display: inline-block;
    list-style-type: none;
}

li.nav-right{
    display: inline-block;
    line-height: 80px;
}

#search{
    color: #3399ff;
    margin-right: 20px;
}

#log-in{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ff7a59;
    margin-right: 20px;
    color: #ff7a59;
    font-size: 12px;
}

#log-in:hover{
    opacity: 0.5;
}

#get-hubspot-free{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ff7a59;
    background-color: #ff7a59;
    color: white;
    font-size: 12px;
}

#get-hubspot-free:hover{
    opacity: 0.5;
}

/*a.log-in{
    color: #ff7a59;
    font-size: 12px;
}*/

/*a.get-hubspot-free{
    color: white;
    font-size: 12px;
}*/
/*-------------fine header top--------------*/
/*-------------inizio header bottom--------------*/
.header-bottom {
    background-color: white;
    height: 80px;
    padding-top: 80px;
}

.logo-menu{
    width: 100%;
    height: 80px;
}

#logo{
    height: 30px;
    width: 106px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#menu{
    float: right;
}

li.menu{
    display: inline-block;
}

#menu{
    color: #33475b;
    padding: 0px 16px;
    font-weight: bolder;
}
/*--------------Fine header bottom-------------*/
/*--------------inizio promo---------------*/
.promo{
    background-color: #33475b;
    color: white;
    height: 100%;
}

p.promo{
    font-size: 15px;
    font-family: sans-serif;
    padding: 20px 7px;
}

span#promo{
    text-decoration: underline;
}

span#promo:hover{
    color: #3399ff;
}
/*--------------fine promo--------------*/
/*--------------inizio introduction---------------*/
.introduction{
    background-image: url(https://www.hubspot.com/hubfs/raw_assets/public/_Web%20Team%20Assets/Website/assets/svg/hero.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: top right;
    background-size: 60rem;
    position: relative;
}
p.chat{
    padding: 20px 5px 5px;
    position: fixed;
    top: 250px;
    right: 20px;
    width: 200px;
    border: 1px solid #33475b;
    background-color: white;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 15px;
    color: #33475b;
}

#robot{
    position: absolute;
    bottom: 60px;
    left: 68px;
    font-size: 50px;
    color: red;
}
#chat{
    position: fixed;
    top: 350px;
    right: 20px;
    font-size: 50px;
    color: #425B76;
}


.text{
    width: 35%;
}

h1{
    font-family: sans-serif;
    font-size: 40px;
    margin: 20px 0px;
    color: #33475b;
}

#top{
    font-family: sans-serif;
    color: #33475b;
    margin: 18px 0px;
    font-size: 17px;
}

.get-hubspot-free-big{
    border-radius: 5px;
    border: 1px solid #ff7a59;
    color: white;
    background-color: #ff7a59;
    padding: 30px;
    font-size: 16px;
    margin-top: 20px;
}

.get-hubspot-free-big:hover{
    opacity: 0.5;
}

#bottom{
    font-family: sans-serif;
    color: #33475b;
    margin: 28px 120px 0px 0px;
    font-size: 14px;
}
/*-------------fine introduction--------------*/
/*-------------inizio services-------------*/
.services{
    background-color: #f5f8fa;
    padding: 100px 0px 100px;
}

.first-box{
    margin-top: 20px;
    width: 30%;
    float: left;
    display: inline-block;
}

h2{
    font-family: sans-serif;
    font-size: 30px;
    color: #33475b;
    margin-bottom: 18px;
}

#first-box{
    font-family: sans-serif;
    font-size: 17px;
    color: #33475b;

}

.central-box{
    width: 30%;
    margin-top: 20px;
    margin-left: 3.3%;
    margin-right: 3.3%;
    padding-bottom: 17px;
    float: left;
    background-color: white;
}

h4{
    font-family: sans-serif;
    font-size: 20px;
    color: #33475b;
    font-weight: 550;
    margin: 11px 0px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
}

p.services-box{
    font-family: sans-serif;
    font-size: 15px;
    color: #33475b;
    margin: 15px 0px;
    padding-left: 32px;
    padding-right: 32px;
}

hr{
    border: 0.5px solid lightgrey;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 25px;

}

h5{
    font-family: sans-serif;
    font-size: 13px;
    color: #33475b;
    margin-bottom: 25px;
    padding-left: 32px;
    padding-right: 32px;
}

ul.services-box{
    display: inline-block;
}

li.box-list{
    list-style-type: none;
    font-family: sans-serif;
    font-size: 15px;
    color: #33475b;
    margin-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
}

li.box-list:before{
    content: "\f058";
    font-family: "font awesome 5 free";
    font-weight: bold;
    color: #ff7a59;
    margin-right: 10px;
}

button.services-box{
    width: 80%;
    margin: 20px 30px;
    border: 1px solid #ff7a59;
    border-radius: 5px;
    background-color: #ff7a59;
    height: 50px;
}

button.services-box:hover{
    opacity: 0.5;
}

a.services-box{
    color: white;
    line-height: 50px;
    padding: 100% 40px;
}

.box{
    width: 30%;
    margin-top: 20px;
    background-color: white;
    float: left;
    position: relative;
    z-index: 0;
}

.new{
    height: 20px;
    width: 30px;
    border-radius: 5px;
    background-color: green;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    font-family: sans-serif;
    color: white;
    position: absolute;
    top: 20px;
    left: 93%;
}

.box-left{
    width: 30%;
    margin-top: 20px;
    padding-bottom: 17px;
    background-color: white;
    float: left;
}
/*--------------fine services--------------*/
/*--------------inizio comunity------------*/
.comunity{
    background-image: linear-gradient(45deg,#00a4bd,#00bda5);
}

.comunity-top{
    padding: 20px 150px;
}

#comunity{
    padding-top: 30px;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
}

.box-a{
    width: calc((100% - 3px) / 4);
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    float: left;
    margin-top: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}

#hands{
    margin-top: 13px;
    margin-left: 107px;
}

h6{
    font-family: sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    position: relative;
}

h6::after{
    content: "+";
    font-size: 15px;
    color: white;
    position: absolute;
    top: 20px;
}

p.comunity{
    font-family: sans-serif;
    font-size: 17px;
    color: white;
    text-align: center;
    background: none;
}

.box-b{
    width: calc((100% - 3px) / 4);
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    float: left;
    padding-bottom: 30px;
    margin-top: 30px;
    padding-top: 30px;
}

#blog{
    margin-left: 89px;
    margin-top: 10px;
    margin-bottom: 3px;
}

.box-c{
    width: calc((100% - 3px) / 4);
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    float: left;
    padding-bottom: 30px;
    margin-top: 30px;
    padding-top: 30px;
}

#academy{
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 3px;
}

.box-d{
    width: calc((100% - 3px) / 4);
    border-bottom: 1px solid white;
    float: left;
    padding-bottom: 30px;
    margin-top: 30px;
    padding-top: 30px;
}

#inbound{
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 3px;
}

.box-e{
    width: calc((100% - 3px) / 4);
    border-right: 1px solid white;
    float: left;
    padding-bottom: 30px;
    margin-bottom: 50px;

}

#marketplace{
    width: 150px;
    height: 33px;
    margin-left: 49px;
    margin-top: 40px;
    margin-bottom: 3px;
}

.box-f{
    width: calc((100% - 3px) / 4);
    border-right: 1px solid white;
    float: left;
    padding-bottom: 33px;
    margin-bottom: 50px;
}

#languages{
    margin-top: 40px;
    margin-left: 107px;
}

.box-g{
    width: calc((100% - 3px) / 4);
    border-right: 1px solid white;
    float: left;
    padding-bottom: 34px;
    margin-bottom: 50px;
}

#social{
    margin-top: 39px;
    margin-left: 107px;
}

.box-h{
    width: calc((100% - 3px) / 4);

    float: left;
    padding-bottom: 38px;
    margin-bottom: 50px;
}

#customers{
    margin-top: 48px;
    margin-left: 111px;
}
/*-------------fine comunity-------------*/
/*-------------inizio clients--------------*/
.clients{
    background-color: white;
}
.text-wrapper{
    width: 40%;
    padding-top: 100px;
    padding-bottom: 35px;
    float: left;
}

 .p-text-wrapper{
    font-family: sans-serif;
    font-size: 17px;
    color: #33475b;
 }

.client-logo{
    width: 60%;
    padding-top: 100px;
    float: left;
}

#logo-a{
    height: 14px;
    width: 110px;
    margin-right: 20px;
    margin-bottom: 30px;
}

#logo-b{
    height: 14px;
    width: 110px;
    margin-right: 20px;
    margin-bottom: 30px;
}

#logo-c{
    height: 25px;
    width: 110px;
    margin-right: 20px;
    margin-bottom: 30px;
}

#logo-d{
    height: 45px;
    width: 110px;
    margin-right: 20px;
    margin-bottom: 30px;
}

#logo-e{
    height: 45px;
    width: 110px;
    margin-right: 20px;
}

#logo-f{
    height: 20px;
    width: 110px;
    padding-bottom: 7px;
    margin-right: 20px;
}

#logo-g{
    height: 45px;
    width: 110px;
    margin-right: 20px;
}

#logo-h{
    height: 25px;
    width: 110px;
}

.advertising{
    background-color: white;
}

.photo{
    width: 60%;
    padding-top: 100px;
    float: left;
}

#photo{
    width: 250px;
    height: 250px;
    margin-left: 200px;
}
/*--------------fine clients--------------*/
/*--------------inizio footer--------------*/
footer{
    background-color: #33475b;
    padding-top: 90px;
}

.title{
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bolder;
    color: white;
}

.column{
    width: 25%;
    float: left;
}

.a-column{
    color: white;
    display: block;
    height: 40px;
    line-height: 40px;
}

.a-column:hover{
    color: #3399ff;
}

#last-a{
    color: #33475b;
    display: block;
    height: 40px;
    line-height: 40px;
    border: solid 1px white;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    width: 70%;
    margin-bottom: 20px;
}

.icons{
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
}

li.footer{
    display: inline-block;
    color: white;
    text-align: center;
}
