*{
    margin: 0;
}

.container::after{
    content: '';
    display: table;
    clear: both;
}

.container{
    width: 70%;
    height: 100%;
    margin: auto;
    /*border: 1px solid black;*/
}

header{
    height: auto;
}

.header-top{
    background-color: #f5f8fa;
    height: 80px;
}

.navigator{
    width: 100%;
    padding: 0px;
    margin: auto;


}
#language{
    color: #33475b;
}

.language{
    font-size: 17px;
    font-family: sans-serif;
    border: none;
    background-color: #f5f8fa;
    margin-top: 30.5px;
    color: #33475b;
    margin-right: 32px;
}

a{
    font-size: 15px;
    font-family: sans-serif;
    text-decoration: none;
    line-height: 80px;
}
a.contact-sales{
    color: #33475b;
    font-size: 17px;
}

ul.nav-right{
    float: right;
    display: inline-block;
    list-style-type: none;
}

li.nav-right{
    display: inline-block;
    line-height: 80px;
}

#search{
    color: #3399ff;
    margin-right: 20px;
}

#log-in{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ff7a59;
    margin-right: 20px;
    color: #ff7a59;
    font-size: 12px;
}

#get-hubspot-free{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ff7a59;
    background-color: #ff7a59;
    color: white;
    font-size: 12px;

}

/*a.log-in{
    color: #ff7a59;
    font-size: 12px;
}*/

/*a.get-hubspot-free{
    color: white;
    font-size: 12px;
}*/
